

img{
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  border: 5px groove black;
  margin: 100px 150px 0px 150px;
}

h4{
  text-align: center;
}

/* .pune{
  float: left;
  display: inline;
} */

 /* .ocean{
   float: right;
     display: inline;
}

 .jal{
    float: right;
      display: inline; */


 }

/* .ntr{
  float: left;
    display: inline;

} */
